/* Kontakt i social media */

.contact h2 {
    padding: 8% 0 12%;
    font-size: 2em;
    color: #eee;
    text-transform: uppercase;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social {
    position: relative;
    padding: 6vw 0;
    text-align: center;
    flex-basis: 33%;
}

.social i {
    font-size: 3em;
    color: #eee;
}

.fa-mobile-alt,
.fa-envelope {
    padding-bottom: 3vh;
}

.contact span {
    display: none;
    color: #eee;
    transition: .5s
}

span.showNumber {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    opacity: 0;
    animation: showNumber 1s both;
}


@keyframes showNumber {
    100% {
        opacity: 1;
    }
}

.fa-mobile-alt,
.fa-envelope {
    cursor: pointer;
    transition: 1s;
}

@media (orientation: portrait) and (min-width: 360px) {
    .contact h2 {
        font-size: 2.2em
    }

    .social i {
        font-size: 3.4em;
    }
}

@media (orientation: portrait) and (min-width: 400px) {
    .contact h2 {
        font-size: 2.6em
    }

    .social i {
        font-size: 3.8em;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .contact h2 {
        padding: 8% 0;
        font-size: 5em;
    }

    .social i {
        font-size: 7em;
    }
}

@media (orientation: landscape) {

    .contact h2 {
        padding: 8% 0;
        font-size: 2.4em
    }

    .social i {
        font-size: 3.4em;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    .contact h2 {
        font-size: 2.8em;
    }

    .social i {
        font-size: 3.8em;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .contact {
        margin: 0 auto;
        width: 80%;
    }

    .contact h2 {
        padding: 2% 0 3%;
        font-size: 3em;
    }

    .socials {
        padding-bottom: 10%;
        flex-wrap: nowrap;
    }

    .social i {
        font-size: 4em;
    }
}

@media (orientation: landscape) and (min-width: 1400px) {
    .contact {
        width: 70%;
    }

    .contact h2 {
        padding: 6% 0 2%;
        font-size: 4.4em;
    }

    .social i {
        font-size: 5em;
    }
}