/* Kontakt i social media */

.contact h2 {
    padding: 0 0 12%;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    color: #eee;
}

.socials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

.social {
    position: relative;
    flex-basis: 33%;
    padding: 6vw 0;
    text-align: center;
}

.social i {
    font-size: 3em;
    color: #eee;
}

.fa-mobile-alt,
.fa-envelope {
    padding-bottom: 3vh;
}

.contact span {
    display: none;
    color: #eee;
    font-size: .8em;
    transition: .5s
}

span.showNumber {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: showNumber 1s both;
}

@keyframes showNumber {
    100% {
        opacity: 1;
    }
}

.fa-mobile-alt,
.fa-envelope {
    cursor: pointer;
    transition: 1s;
}

@media (orientation: portrait) and (min-width: 360px) {
    .contact h2 {
        font-size: 2.2em
    }

    .social i {
        font-size: 3.4em;
    }

    .contact span {
        font-size: 0.9em;
    }
}

@media (orientation: portrait) and (min-width: 400px) {
    .contact h2 {
        font-size: 2.6em
    }

    .social i {
        font-size: 3.8em;
    }

    .contact span {
        font-size: 1.1em;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .contact h2 {
        padding: 0 0 8%;
        font-size: 5em;
    }

    .social i {
        font-size: 7em;
    }

    .contact span {
        font-size: 1.8em;
    }
}

@media (orientation: landscape) {
    .contact h2 {
        padding: 2% 0 7%;
        font-size: 2.4em
    }

    .social i {
        font-size: 3.4em;
    }

    .contact span {
        font-size: 1em;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    .contact h2 {
        font-size: 2.8em;
    }

    .social i {
        font-size: 3.8em;
    }

    .contact span {
        font-size: 1.1em;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .contact {
        width: 80%;
        margin: 0 auto;
    }

    .contact h2 {
        padding: 2% 0 3%;
        font-size: 3em;
    }

    .socials {
        flex-wrap: nowrap;
        padding-bottom: 10%;
    }

    .social i {
        font-size: 4em;
        transition: .3s;
    }

    .social:hover i {
        color: #fff;
        transform: scale(1.4);
        text-shadow: 8px 0px 0px rgba(255, 2, 2, 0.5);
    }

    span {

        font-size: 1.2em;
    }
}

@media (orientation: landscape) and (min-width: 1400px) {
    .contact {
        width: 70%;
    }

    .contact h2 {
        padding: 4% 0 2%;
        font-size: 4.4em;
    }

    .socials {
        padding-bottom: 3%;
    }

    .social i {
        font-size: 5em;
    }
}