/* Portfolio */

.portfolio {
    min-height: 80vh;
    max-width: 1600px;
    margin: 0 auto;
    cursor: default;
}

.portfolio h2 {
    position: relative;
    padding: 7% 0;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: #eee;
}

.portfolio h3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 4% 0;
    text-align: center;
    font-size: 1.4em;
    color: #ddd;
}

.portfolio p {
    display: none;
}

.portfolio i {
    padding: 2vh 0 10vh;
    font-size: 2.4em;
    color: #fff;
}

.projects {
    position: relative;
    left: 12%;
    width: 76%;
}

.project {
    padding-bottom: 10vh;
}

.photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 45vh;
    border: 4px solid #7A0308;
    background-color: #fff;
    background-image: url(../img/portfolio_ekran.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5% 5% 0 0;
}

.calc .photo {
    background-image: url(../img/calc_monitor.png);
}

.draw .photo {
    background-image: url(../img/draw_monitor.png);
}

.in-progres .photo {
    background-image: url(../img/in-progres_monitor.png);
}

.short-description {
    height: 15vh;
    background-color: #7A0308;
    border-radius: 0 0% 5% 5%;
}

.calc i,
.draw i,
.in-progres i {
    color: #555;
}

.links {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 80%;
}

.github i,
.link i {
    transition: .2s
}

.github:hover i,
.link:hover i {
    font-size: 4em;
}

@media (orientation: portrait) and (min-width: 360px) {
    .portfolio h2 {
        font-size: 2.3em;
    }

    .portfolio h3 {
        font-size: 2em;
    }

    .portfolio i {
        font-size: 3em;
    }
}

@media (orientation: portrait) and (min-width: 410px) {
    .portfolio h2 {
        font-size: 2.8em;
    }

    .portfolio h3 {
        font-size: 2.2em;
    }

    .portfolio i {
        font-size: 3.3em;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .portfolio h2 {
        font-size: 4.6em;
    }

    .portfolio h3 {
        font-size: 3.6em;
    }

    .portfolio i {
        font-size: 5.4em;
    }

    .photo {
        height: 55vh;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .portfolio h2 {
        font-size: 5em;
    }

    .portfolio h3 {
        font-size: 4.2em;
    }

    .portfolio i {
        font-size: 6.6em;
    }
}

@media (orientation: landscape) {
    .project {
        padding-bottom: 15vh;
    }

    .short-description {
        height: 35vh;
    }

    .portfolio h2 {
        padding: 10% 0;
        font-size: 2.6em;
    }

    .portfolio h3 {
        font-size: 2.2em;
    }

    .portfolio i {
        font-size: 2.8em;
    }

    .photo {
        height: 90vh;
        background-size: 90%;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    .portfolio h2 {
        font-size: 2.8em;
    }

    .portfolio h3 {
        font-size: 2.4em;
    }

    .portfolio i {
        font-size: 3em;
    }
}

@media (orientation: landscape) and (min-width: 736px) {
    .portfolio h2 {
        font-size: 3.2em;
    }

    .portfolio h3 {
        font-size: 2.6em;
    }

    .portfolio i {
        font-size: 3.2em;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .portfolio h2 {
        padding: 5% 0 0;
        font-size: 3.2em;
        letter-spacing: 3px;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        left: 0;
        min-height: 90vh;
        width: 100%;
        padding: 2vh 0;

    }

    .project {
        display: flex;
        justify-content: space-around;
        height: 33vh;
        width: 44%;
        padding-bottom: 0;
    }

    .photo {
        width: 22vw;
        height: 33vh;
        background-size: contain;
        border-radius: 8% 0 0 8%;
    }

    .portfolio i {
        padding: 5% 0 50%;
        font-size: 2.6em;
    }

    .short-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 22vw;
        letter-spacing: 1px;
        border-radius: 0 8% 8% 0;
    }

    .portfolio h3 {
        top: 10%;
        font-size: 2em;
    }

    .draw h3 {
        top: 20%;
    }

    .portfolio p {
        display: block;
        padding: 5vh 5%;
        text-align: center;
        font-size: 1.3em;
        color: #ddd;
    }
}