/* Moje umiejętności */

.skills {
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    color: #800000;
    cursor: default;
}

.skills h2,
.skills h3 {
    padding: 7% 0 10%;
    font-size: 2em;
}

.skills h3 {
    padding: 4% 0 11%;
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second {
    padding-bottom: 5%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: calc(100% / 3);
    padding-bottom: 10vh;
}

.icon i {
    font-size: 3em;
    color: #8b0000;
    text-shadow: 1px 2px 2px grey;
}

.progres {
    display: none;
    position: relative;
    height: 4vh;
    width: 20vw;
    margin-left: 5%;
    border: 5px solid #8b0000;
    box-shadow: 2px 2px 2px grey;
    overflow: hidden;
}

.show-loading {
    position: absolute;
    left: -30vw;
    bottom: -5px;
    height: 4vh;
    background-color: #8b0000;
    background-size: 4px;
    box-shadow: 1px 0px 2px grey;
    transition: 1s;
}

.html5>.progres>.show-loading {
    width: calc(20vw * 4/5 - 5px);
}

.css3>.progres>.show-loading {
    width: calc(20vw * 7/10 - 5px);
}

.js>.progres>.show-loading,
.jquery>.progres>.show-loading,
.git>.progres>.show-loading {
    width: calc(20vw * 1/2 - 5px);
}

.bootstrap>.progres>.show-loading {
    width: calc(20vw * 2/3 - 5px);
}

.sass>.progres>.show-loading {
    width: calc(20vw * 55/100 - 5px);
}

.photoshop>.progres>.show-loading {
    width: calc(20vw * 4/10 - 5px);
}

.icon span {
    display: none;
    padding-left: 15px;
    text-shadow: 1px 1px 1px #aaa;
    font-size: 2em;
    font-weight: bold;
    color: #800000;
}

@media (orientation: portrait) and (min-width: 400px) {

    .skills h2,
    .skills h3 {
        font-size: 2.6em;
    }

    .icon i {
        font-size: 4.2em;
    }
}

@media (orientation: portrait) and (min-width: 768px) {

    .skills h2,
    .skills h3 {
        font-size: 4em;
    }

    .icon i {
        font-size: 6.6em;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {

    .skills h2,
    .skills h3 {
        font-size: 5em;
    }

    .icon i {
        font-size: 8em;
    }
}

@media (orientation: landscape) {

    .skills h2,
    .skills h3 {
        font-size: 2.4em;
    }

    .icon i {
        font-size: 4em;
    }
}

@media (orientation: landscape) and (min-width: 736px) {

    .skills h2,
    .skills h3 {
        font-size: 2.7em;
    }

    .skills h2 {
        padding: 8% 0 6%;
    }

    .skills h2,
    .skills h3 {
        padding: 4% 0 6%;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {

    .myskills,
    .inprogres {
        width: 90%;
        margin: 0 auto;
    }

    .skills h2 {
        padding: 5% 0 3%;
        font-size: 3em;
    }

    .skills h3 {
        padding-bottom: 3%;
        font-size: 3em;
    }

    .second {
        padding-bottom: 0;
    }

    .icon {
        min-width: calc(100% / 2);
        padding-bottom: 5vh;
    }

    .second>.icon {
        min-width: calc(100% / 3);
    }

    .icon i {
        font-size: 4em;
    }

    .icon span {
        display: block;
    }

    .progres {
        display: block;
    }
}

@media (orientation: landscape) and (min-width: 1400px) {

    .skills h2,
    .skills h3 {
        font-size: 3.6em;
        padding: 5% 0;
    }

    .skills h3 {
        padding: 0 0 5%;
    }

    .icon i {
        font-size: 4.6em;
    }

    .icon span {
        font-size: 2.4em;
    }
}